*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.Background{
    background-image: url(image/bK1.jpg);
    background-size: cover;
}

.Background .en-tête{
    background-color: rgba(133, 133, 133, 0.315);
    backdrop-filter: blur(8px);
    border-radius: 0px 0px 25px 25px;
    display: block;

}

.Background .en-tête .en_tête{
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.Background .en-tête .en_tête .logo{
    padding: 25px 0px;
    width: 100px;
    border-radius: 295px;
}

.Background .en-tête .en_tête h1{
    color: white;
    font-size: 3em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    margin-left: 350px;
}

.Background .en-tête .nav-bar{
    padding: 30px;
    display: flex;
}

.Background .en-tête .nav-bar ul{
    display: flex;

}

.Background .en-tête .nav-bar ul li{
    margin-left: 265px;
}

.Background .en-tête .nav-bar ul li a{
    color: white;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.Background .en-tête .nav-bar ul li .active{
    color: red;
}

.Background .en-tête .nav-bar ul li a:hover{
    border: 1px solid aqua;
    padding: 25px;
    border-radius: 125px;
}

.Background .devise{
    text-align: center;
    padding: 75px 0px;
}

.Background .devise h1{
    font-size: 3em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(247, 55, 231);
    margin-bottom: 35px;
}

.Background .devise p{
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.corps1{
    background-color: rgba(212, 240, 240, 0.486);
}
.corps1 .A_propos{
    display: flex;
    justify-content: center;
    padding: 35px 75px;
}

.corps1 .A_propos .pictures1{
    width: 500px;
    border-radius: 50px;
}

.corps1 .A_propos .text{
    margin-left: 95px;
    padding: 35px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.322);
}

.corps1 .A_propos .text h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    color: rgb(253, 138, 29);
}

.corps1 .A_propos .text p{
    font-weight: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corps1 .création {
    display: flex;
    justify-content: center;
    padding: 75px;
    align-items: center;
}

.corps1 .création .pictures2{
    width: 500px;
    border-radius: 50px;
    margin-left: 95px;
}

.corps1 .création .text{
    padding: 35px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.322);
}

.corps1 .création .text h1{
    font-size: 50px;
    text-align: center;
    margin-bottom: 35px;
    color: rgb(253, 138, 29);
}

.corps1 .création .text p{
    font-weight: 800px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.corps1 .image{
    display: flex;
    justify-content: center;
}
.corps1 .image img{
    width: 750px;
    height: 400px;
    border-radius: 125px;
}

.corps1 .inauguration{
    display: flex;
    justify-content: center;
    padding: 50px 75px;
    align-items: center;
}

.corps1 .inauguration .inaug{
    width: 500px;
    border-radius: 75px;
}

.corps1 .inauguration p{
    margin-left: 95px;
    border-radius: 100px;
    background-color: rgba(255, 255, 255, 0.322);
    padding: 50px;
}


footer{
    padding: 75px;
    background-color: rgb(44, 43, 43);
    color: white;
    align-items: center;
}

footer div{
    width: 100%;
    align-items: center;
}

footer div .div1{
    width: 50%;
    float: left;
}
